body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.col-md-6 {
    margin-top: 150px !important;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    /* border: 3px solid black; */
    border-radius: 20px;

}
input[type=button]{
    width: 100%;
    background-color: #bf5555;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
}

input[type=text]{
    width: 100%;
}
h1{
    font-weight: bolder;
    margin-top: 15px;
}